:root {
    --green: #005029;
    --orange: #fe7300;
    --red: #ff4924;
    --bg-color: #343434;
    --surface-color: #2c2c2c;
    --text-color-light: #e8e8e8;
    --text-color-dark: #2c2c2c;
    --placeholder-color: #9f8f84;
    --border-radius: 1rem;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #343434;
    background-image: url('../static/img/bg.png');
    color: var(--text-color-light);
    font: 400 18px/1.5 "Inter", sans-serif;
}

.header {
    display: flex;
    align-items: flex-end;
    background-color: var(--surface-color);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 1.25rem 1.5rem;
}

.header__logo {
    max-height: 3rem;
}

.header__title {
    color: var(--red);
    line-height: 0.6;
    font-size: 2rem;
    font-weight: bold;
}

.tabs {
    position: relative;
    margin: 1.5rem 1rem;
    padding: 1.5rem;
    min-width: 240px;
}

.tabs .tabs__radio[name=tab-control] {
    display: none;
}

.tabs .content section h2,
.tabs ul li label {
    font-weight: bold;
    font-size: 22px;
    color: var(--red);
}

.tabs ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.tabs ul li {
    flex: 1;
    width: 25%;
    padding: 0 10px;
    text-align: center;
}

.tabs ul li:first-child {
    padding-left: 0;
}

.tabs ul li:last-child {
    padding-right: 0;
}

.tabs ul li label {
    color: var(--placeholder-color);
    padding: 5px auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    backdrop-filter: blur(85px) saturate(100%);
    -webkit-backdrop-filter: blur(85px) saturate(100%);
    background-color: rgb(90 87 87 / 15%);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.tabs ul li label br {
    display: none;
}

.tabs ul li label svg {
    fill: var(--placeholder-color);
    height: 3rem;
    vertical-align: bottom;
    transition: all 0.2s ease-in-out;
}

.tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
    outline: 0;
    color: #bec5cf;
}

.tabs ul li label:hover svg, .tabs ul li label:focus svg, .tabs ul li label:active svg {
    fill: #bec5cf;
}

.tabs .slider {
    position: relative;
    width: 25%;
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}

.tabs .slider .indicator {
    position: relative;
    width: 50px;
    max-width: 100%;
    margin: 0 auto;
    height: 4px;
    background: var(--red);
    border-radius: 1px;
}

.tabs .content {
    margin-top: 30px;
}

.tabs .content section {
    display: none;
    -webkit-animation-name: content;
    animation-name: content;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    line-height: 1.4;
}

.tabs .content section h2 {
    color: var(--text-color-light);
}

.tabs .content section h2::after {
    content: "";
    position: relative;
    display: block;
    width: 30px;
    height: 3px;
    background: var(--orange);
    margin-top: 5px;
    left: 1px;
}

.tabs .tabs__radio[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
    cursor: default;
    color: var(--text-color-light);
}

.tabs .tabs__radio[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label svg {
    fill: var(--orange);
}

@media (max-width: 600px) {
    .tabs .tabs__radio[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
        background: rgba(0, 0, 0, 0.08);
    }
}

.tabs .tabs__radio[name=tab-control]:nth-of-type(1):checked ~ .slider {
    transform: translateX(0%);
}

.tabs .tabs__radio[name=tab-control]:nth-of-type(1):checked ~ .content > section:nth-child(1) {
    display: block;
}

.tabs .tabs__radio[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
    cursor: default;
    color: var(--text-color-light);
}

.tabs .tabs__radio[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label svg {
    fill: var(--orange);
}

.tabs .tabs__radio[name=tab-control]:nth-of-type(2):checked ~ .slider {
    transform: translateX(100%);
}

.tabs .tabs__radio[name=tab-control]:nth-of-type(2):checked ~ .content > section:nth-child(2) {
    display: block;
}

@-webkit-keyframes content {
    from {
        opacity: 0;
        transform: translateY(5%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes content {
    from {
        opacity: 0;
        transform: translateY(5%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@media (max-width: 1000px) {
    .tabs ul li label {
        white-space: initial;
    }

    .tabs ul li label br {
        display: initial;
    }
}

@media (max-width: 600px) {
    .tabs ul li label {
        padding: 5px;
        border-radius: 5px;
    }

    .tabs .slider {
        display: none;
    }

    .tabs .content {
        margin-top: 20px;
    }
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
    margin: 3rem 0 3rem;
    backdrop-filter: blur(85px) saturate(100%);
    -webkit-backdrop-filter: blur(85px) saturate(100%);
    background-color: rgb(90 87 87 / 15%);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.product-info:last-child {
    margin-bottom: 0;
}

.product-info__img {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1/1;
    margin: 0 auto;
    border-radius: var(--border-radius);
    object-fit: cover;
}

.product-info__desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-info__btn {
    outline: 0;
    border: 2px solid var(--orange);
    border-radius: var(--border-radius);
    background-color: transparent;
    color: var(--text-color-light);
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1rem 2.25rem;
    transition: 0.2s;
}

.product-info__btn:hover {
    background-color: var(--orange);
    box-shadow: 10px 10px 100px 6px var(--orange);
}

.product-info__price {
    font-size: 1.25rem;
    font-weight: bold;
}